*Creado por:*

*Isabel Maniega*

# Ejercicio 1

Dada una lista de nombre "listado" y con valores: 10,20,30,40,50

In [4]:
listado = [10,20,30,40,50]

**1)**

Crea un pequeño programa capaz de conseguir el orden inverso de los números de "listado"

In [1]:
# imprime nuevamente el listado para tenerlo "a mano"
# 10-20-30-40-50 (tengo)
# 50-40-30-20-10 (lo que busco)

In [7]:
# necesitas instalar con:
# pip install numpy
import numpy as np

In [8]:
rango_indices = np.arange(1,len(listado)+1,1).tolist()
rango_indices

[1, 2, 3, 4, 5]

In [9]:
# OJO! "indice" está en negativo.
# tengo indice: 0a4 y de -1 a -5
# pero no de 1 a 5 
listado_inverso = []                              # []


for indice in rango_indices:                      # 1-2-3-4-5
    listado_inverso.append(listado[-indice])      # [1º]=> [50]--[50,40]--[50,40,30]--[50,40,30,20]--[50,40,30,20,10]

listado_inverso

[50, 40, 30, 20, 10]

# Ejercicio 2

Programa que coge por teclado 5 números y los almacena en una lista

Nota: 

debería estar en la misma celda

Hazlo como puedas, discurre cómo sería..

In [10]:
# entrada por teclao de 5 números

listado_teclado = []

for i in np.arange(1,6,1):
    entrada = int(input("Escribe un número entero: "))
    listado_teclado.append(entrada)

print("\n")
listado_teclado

Escribe un número entero: 1
Escribe un número entero: 2
Escribe un número entero: 3
Escribe un número entero: 4
Escribe un número entero: 5

[1, 2, 3, 4, 5]

# Ejercicio 3

Programa que coge por teclado una frase y es capaz de decir cuántas vocales hay

Nota: asume que son letras minúsculas sin tildes.

**1)**

Entrada de texto por teclado

In [11]:
# entrada de texto por teclado
frase = input("añada una frase: ")
frase

añada una frase: Hola Mundo

'Hola Mundo'

**2)**

Hazlo si puedes de varias formas

**forma 1: contar vocales en palabra/frase**

In [12]:
# vocales

contador_vocales = 0 # contador a 0

vocales = ["a", "e", "i", "o", "u"]

for letra in frase:
    if letra in vocales:
        contador_vocales+=1
        
contador_vocales

4

**3)**

Hazlo de otra forma si se te ocurre..

**forma 2**

In [13]:
numero_vocales = 0
for letra in frase:
    if (letra=="a") | (letra=="e") | (letra=="i") | (letra=="o") | (letra=="u"):
        numero_vocales+=1
        
numero_vocales

4

# Ejercicio 4

Tablas de multiplicar:
    
Haz algo tal que:

1) Pregunta al usuario que tabla quiere multiplicar: <1 al 10>
    
2) Muestra los resultados de esta forma:
    
2 x 1 = 2

2 x 2 = 4

...

2 x 10 = 20

In [14]:
tabla = int(input("Elija de que número quiere las Tablas de multiplicar: <1 a 10>: "))
tabla

Elija de que número quiere las Tablas de multiplicar: <1 a 10>: 6

6

In [15]:
import numpy as np
numeros = np.arange(0,11,1)
numeros

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [16]:
for numero in numeros:
    print(tabla, " x ", numero, " = ", tabla*numero)

6  x  0  =  0
6  x  1  =  6
6  x  2  =  12
6  x  3  =  18
6  x  4  =  24
6  x  5  =  30
6  x  6  =  36
6  x  7  =  42
6  x  8  =  48
6  x  9  =  54
6  x  10  =  60

*Creado por:*

*Isabel Maniega*